/* Add any additional custom styles here */
body {
    font-family: Verdana, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

img {
    border-radius: 8px;
}

footer {
    background-color: #f8f9fa;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}